@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@400&display=swap");
* {
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

body {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.mobile-nav {
  display: block;
  color: white;
  position: fixed;
  background-color: #bebad4;
  padding: 0.5rem;
  z-index: 10;
  width: 100%;
}
@media (min-width: 40rem) {
  .mobile-nav {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .mobile-nav {
    display: block;
  }
}
.mobile-nav .brand img {
  max-width: 100%;
  max-height: 6vh;
  margin-right: 0.5rem;
}
.mobile-nav .brand p {
  display: none;
}
.mobile-nav .mobile-nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-nav .mobile-nav__items .aspects a {
  color: #87825C;
}
.mobile-nav .logo {
  align-self: center;
}
.mobile-nav .logo:active:not(:first-child, :last-child) {
  padding-top: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}
.mobile-nav .logo .bar {
  width: 100%;
  height: 100%;
  background-color: #bebad4;
}
.mobile-nav hr {
  display: none;
}
.mobile-nav .mobile-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid black;
}
.mobile-nav .mobile-toggle-button .toggle-button__bar {
  width: 70%;
  height: 0.2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  display: block;
  margin: 0.2rem;
}

.main-nav {
  color: white;
  position: fixed;
  background-color: #bebad4;
  padding: 0.5rem;
  z-index: 10;
  width: 10%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
.main-nav .page {
  animation: disappear 100ms ease-in-out;
  display: none;
}
.main-nav .brand {
  width: 100%;
}
.main-nav .brand img {
  max-width: 100%;
  max-height: 10vh;
  margin-right: 0.5rem;
}
.main-nav .brand p {
  display: block;
  font-size: 1rem;
}
.main-nav .brand p span {
  font-size: 3rem;
  color: #6e6987;
}
.main-nav .brand hr {
  display: block;
  width: 100%;
}
.main-nav .main-nav__items {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fit-content;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}
.main-nav .main-nav__items .main-nav__item {
  margin-top: 4rem;
}
.main-nav .main-nav__items .main-nav__item a {
  color: #87825C;
}
.main-nav .main-nav__items .main-nav__item a:hover, .main-nav .main-nav__items .main-nav__item a :active {
  padding: 1rem;
  border: 2px solid rgba(157, 147, 212, 0.3529411765);
  background-color: rgba(157, 147, 212, 0.3529411765);
  transition: all 0.5s;
}
.main-nav .main-nav__items .main-nav__item:last-child {
  grid-column: span 2;
}
.main-nav .logo {
  align-self: center;
}
.main-nav .logo a {
  text-decoration: none;
  color: #D4D0BA !important;
}
.main-nav hr {
  display: block;
  width: 100%;
  margin: 0;
}
.main-nav .main-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid black;
}
.main-nav .main-toggle-button .toggle-button__bar {
  width: 80%;
  height: 0.2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  display: block;
  margin: 0.2rem;
}
.main-nav .main-toggle-button .toggle-button__bar:first-of-type {
  width: 50%;
  margin-left: 0;
}
.main-nav .main-toggle-button .toggle-button__bar:last-of-type {
  width: 40%;
  margin-left: 0;
}
.main-nav .main-toggle-button:hover .toggle-button__bar:first-of-type, .main-nav .main-toggle-button :active .toggle-button__bar:first-of-type {
  width: 80%;
  margin: 0.2rem;
  transition: all 400ms;
}
.main-nav .main-toggle-button:hover .toggle-button__bar:last-of-type, .main-nav .main-toggle-button :active .toggle-button__bar:last-of-type {
  width: 80%;
  margin: 0.2rem;
  transition: all 400ms;
}
@media (min-width: 40rem) {
  .main-nav {
    display: block;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .main-nav {
    display: none;
  }
}

.shrink {
  transition: width 800ms ease-out;
  width: 10%;
}
.shrink .page {
  animation: disappear 100ms ease-in-out;
  display: none;
}
.shrink .brand {
  flex-direction: column;
}
.shrink .main-nav__items {
  grid-template-columns: 100%;
}

.expand {
  transition: width 800ms ease-out;
  width: 20%;
}
.expand .page {
  display: block;
}
.expand .brand {
  flex-direction: row;
}
.expand .main-nav__items {
  grid-template-columns: 20% 1fr;
}
.expand .main-nav__items .main-nav__item {
  margin-top: 5rem;
}

.hide {
  animation: disappear 500ms forwards;
}

.appear {
  animation: appear 500ms forwards;
}

.rotate-360 {
  animation: rotate-360 500ms forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes from-L {
  0% {
    right: 100px;
  }
  100% {
    right: 0;
  }
}
@keyframes from-R {
  0% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}
.hidden {
  opacity: 0;
  transition: all 1.5s;
}

.hidden-2 {
  opacity: 0;
  transition: all 2.5s;
}

.show {
  opacity: 1;
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 570vh 100vh 100vh 105vh 100vh;
  grid-template-areas: "main" "customers" "packages" "hosting" "footer";
}
@media (min-width: 40rem) {
  main {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 340vh 100vh 100vh 105vh 100vh;
    grid-template-areas: "nav main" "nav customers" "nav packages" "nav hosting" "nav footer";
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: 550vh repeat(2, 250vh) 200vh 100vh;
    grid-template-areas: "main" "customers" "packages" "hosting" "footer";
  }
}
main .footer-page {
  background: linear-gradient(to bottom, #bebad4, white, transparent);
  grid-area: footer;
}
main .footer-page a {
  text-decoration: none;
  color: white;
}
main .footer-page .container {
  height: 80vh;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
@media (min-width: 40rem) {
  main .footer-page .container {
    display: grid;
    height: 100%;
    padding-top: 1rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
  }
}
main .footer-page .container .accordion {
  background-color: rgba(157, 147, 212, 0.3529411765);
  cursor: pointer;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
main .footer-page .container .accordion .active,
main .footer-page .container .accordion .accordion:hover {
  background-color: #ccc;
}
main .footer-page .container .panel {
  padding-top: 0;
  padding-right: 18px;
  padding-bottom: 0;
  padding-left: 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
main .footer-page .footer-container {
  background: black;
  color: white;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
@media (min-width: 40rem) {
  main .footer-page .footer-container {
    padding-top: 1rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    padding-left: 10rem;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  main .footer-page .footer-container {
    height: -moz-fit-content;
    height: fit-content;
  }
}
main .footer-page .footer-container .footer-brands {
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
main .footer-page .footer-container .footer-brands .brand {
  padding-top: 0;
  padding-right: 0.5rem;
  padding-bottom: 0;
  padding-left: 0.5rem;
}
main .footer-page .footer-container .copyright {
  color: grey;
  font-size: 0.7rem;
}
main .footer-page .footer-container .information {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
main .footer-page .footer-container .information .company-name {
  font-size: 1.4rem;
}/*# sourceMappingURL=shared.css.map */
