@mixin bg-color-picker($selected-color) {
    background-color: map-get($map: $colors, $key: $selected-color);

}
@mixin flex-assign($direction, $justify-element) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: $justify-element;
    align-items: center;
    flex-direction: $direction;
}
@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
@mixin screen-type($type) {
    @if $type == phone-landscape {
        @media(orientation: landscape) and (max-height: 40rem) {
            @content;
        }
    }
@else
    if $type == pc {
        @media(min-width: 40rem) {
            @content;
        }
    }
}@mixin grid-assign($column-count,$row-count)
{
    display: grid;
    grid-template-columns: $column-count;
    grid-template-rows: $row-count;
}