$colors: (
    main-color: #a355df,
    secondary-color: #6e6987,
    third-color: #bebad4,
    fourth-color: #3b2570,
    fifth-color:#87825C,
    transparent-color: transparent,
    black-color: black,
    white-color: white,
    highlight-color: #9d93d45a,
    plans-1: #bebad4,
    plans-2: #bac4d4,
    icon:#D4D0BA,
     );
