@import "_variables.scss";
@import "_mixin.scss";

.hosting-page {
    grid-area: hosting;
    .form-container {
        @include screen-type(phone-landscape) {
            height: 100%;
            grid-template-rows: 39vh 1fr 150vh;
        }
        @include grid-assign(fit-content, 19vh 1vh 80vh);
        grid-template-areas: "brand" "hr" "form";
        align-items: center;
        justify-items: center;
        width: 100%;
        .brand {
            @include screen-type(pc) {
                width: 50%;
                justify-content: flex-start;
            }
            width: 100%;
            grid-area: brand;
            @include padding(0, 1rem, 0, 1rem);
            @include flex-assign(row, center);
            .logo {
                width: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .title {
                font-family: "Open Sans", sans-serif;
                font-size: 2rem;
                width: 100%;
                span {
                    color: map-get($map: $colors, $key: secondary-color);
                }
            }
        }
        .hr {
            width: 100%;
            hr {
                width: 100%;
            }
        }
        .form {
            @include screen-type(pc) {
                width: 40%;
            }
            @include screen-type(phone-landscape) {
                height: 100%;
                grid-template-rows: repeat(9, 10%);
            }
            border: solid 2px black;
            box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 1);
            max-width: 90%;
            font-family: "Open Sans", sans-serif;
            grid-area: form;
            height: 80%;
            @include padding(1rem, 1rem, 1rem, 1rem);
            @include grid-assign(repeat(3, 33%), repeat(9, 10%));
            justify-items: center;
            align-items: center;
            #info {
                grid-column: span 3;
                justify-self: flex-start;
            }
            .name {
                font-size: 0.8rem;
            }
            label {
                &:first-child {
                    font-size: 1.5rem;
                }
                grid-column: span 3;
                justify-self: flex-start;
            }
            input {
                grid-column: span 2;
                border: solid 2px gray;
                border-radius: 4px;
                @include screen-type(pc) {
                    height: fit-content;
                }
                height: 35%;
                width: 95%;
            }
            select {
                grid-column: span 3;
                width: 100%;
            }
            #number {
                grid-column: span 2;
            }
            #terms {
                @include flex-assign(row,flex-start);
                grid-column: span 1;
                font-size: 0.8rem;
                text-align: left;
            }
        }
    }
    @include bg-color-picker(third-color);

}
